@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Titillium+Web|Open+Sans");

.App {
  text-align: center;
}

body {
  color: white;
  background-color: rgb(94, 94, 94);
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin: 0px;
}

h2 {
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  font-size: 44px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 34px;
}

h4 {
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  font-size: 26px;
}

.playerPic {
  width: 170px;
  height: auto;
}

.searchSection {
  position: relative;
  bottom: 8px;
  height: 100vh;
}

.lastGameTitle {
  font-size: 25px;
  text-align: center;
}

.lastGameDiv {
  position: absolute;
  left: 1000px;
  bottom: 300px;
  width: 160px;
}

.lastGame {
  border: solid;
  width: 165px;
  padding: auto;
}

.red {
  color: red;
  position: relative;
  bottom: 28px;
  font-size: 45px;
  text-align: center;
  height: 15px;
}

.green {
  color: rgb(1, 255, 1);
  position: relative;
  bottom: 28px;
  font-size: 45px;
  text-align: center;
  height: 15px;
}

.last {
  font-size: 30px;
}

.hName {
  display: inline-block;
}

.hScore {
  display: inline-block;
}

.smalllogo {
  width: 70px;
  height: auto;
}

.h {
  position: relative;
  left: 10px;
}

.playerSearch {
  height: 100%;
  padding: 20px;
  background-color: rgb(102, 0, 0);
}

.teamSearch {
  height: 100%;
  padding: 20px;
  background-color: rgb(0, 3, 100);
}

.record {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.recordNum {
  display: inline-block;
  font-size: 38px;
}

.rankNum {
  display: inline-block;
  font-size: 30px;
}

.title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 55px;
  background-color: black;
}

.nbaImage {
  width: 5%;
  height: 5%;
}

.searchSection {
  display: grid;
  grid-template-columns: 36% 64%;
  grid-template-rows: 1fr;
}

.inputPlayerName {
  width: 360px;
  height: 34px;
}

.inputTeam {
  width: 390px;
  height: 34px;
}

.submitBtn {
  position: relative;
  bottom: 2px;
  height: 34px;
}

.deleteBtn {
  position: relative;
  top: 10px;
  left: 390px;
}

.logo {
  width: 200px;
  height: auto;
  justify-content: center;
}

.playerName, .teamName {
  text-decoration: underline;
}

th {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

tr {
  font-size: 16px;
  font-family: "Titillium Web", sans-serif;
}

th, tr {
  padding: 6px;
  font-weight: bolder;
  text-align: center;
}

table {
  background-color: rgb(66, 0, 0);
  border: 3px solid black;
}